<ul class="nav nav-tabs">
  <li><%= link_to 'Home', root_path%></li>

  <% if user_signed_in? %>
  <li><%= link_to "Create A Post", new_blog_path, :method => "get" %></li>
 <li><a href="/signout/">Sign Out</a></li>
  <% end %>

</ul>